.rating {
    padding: 130px 0 150px;

    @include breakpoint(lg) {
        padding: 50px 0 100px;
    }
    @include breakpoint(xs) {
        padding: 50px 0;
    }

    &__block {

        &_info {
            max-width: 435px;

            @include breakpoint(lg) {
                max-width: 100%;
            }

            .icon-circle-solid {
                font-size: 20px;
                color: $yellow;
            }
        
            .icon-circle-half::before {
                font-size: 20px;
                color: $yellow;
                margin-right: 10px;
            }
        }

        &_comments {
            max-width: calc(100% - 500px);
            display: grid;
            grid-template: repeat(4, 25%) / repeat(4, 25%);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            @include breakpoint(lg) {
                max-width: 85%;
            }
            @include breakpoint(md) {
                max-width: 95%;
            }
            @include breakpoint(xs) {
                max-width: none;
                grid-template: repeat(3, 1fr) / 1fr;
            }

            .icon-circle-solid {
                font-size: 12px;
                color: $yellow;
            }

            .icon-circle-empty {
                font-size: 12px;
                color: $yellow;
            }
        
            .icon-circle-half::before {
                font-size: 12px;
                color: $yellow;
            }
        }
    }

    &__title {
        position: relative;
        max-width: 330px;
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: $navy;
        margin-bottom: 59px;

        @include breakpoint(lg) {
            max-width: 100%;
        }
        @include breakpoint(xs) {
            font-size: 32px;
            line-height: 44px;
        }

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            top: calc(100% + 23px);
            background-color: $yellow;
        }
    }

    &__text {
        font-family: $inter;
        font-size: 19px;
        line-height: 34px;
        color: #969AA0;

        @include breakpoint(lg) {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 20px;
        }  
    }

    &__mark {
        display: inline-block;
        font-size: 22px;
        line-height: 26px;
        color: $navy;
        margin-bottom: 10px;
    }

    &__link {
        display: block;
        font-family: $inter;
        font-size: 18px;
        line-height: 28px;
        color: $navy;
        margin-bottom: 25px;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $yellow;
        }
    }

    &__card {
        padding: 30px 35px 24px;
        background-color: $navy;

        @include breakpoint(lg) {
            padding: 20px 25px 10px;
        }

        &:nth-child(1) {
            grid-area: 1 / 1 / 3 / 3;
            
            @include breakpoint(xs) {
                grid-area: 1 / 1 / 1 / 2;
            }
        }

        &:nth-child(2) {
            grid-area: 3 / 1 / 5 / 3;

            @include breakpoint(xs) {
                grid-area: 2 / 1 / 3 / 2;
            }
        }

        &:nth-child(3) {
            grid-area: 2 / 3 / 4 / 5;

            @include breakpoint(xs) {
                grid-area: 3 / 1 / 4 / 2;
            }
        }
    }

    &__person {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__name {
        display: block;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    &__quote {
        display: block;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 13px;

        @include breakpoint(xxs) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__comment {
        font-family: $inter;
        font-size: 18px;
        line-height: 29px;
        color: $blue;
        
        @include breakpoint(md) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__img {
        width: 85px;
        margin-right: 20px;

        @include breakpoint(xxs) {
            width: 70px;
            margin-right: 10px;
        }
    }
}